@model Web_Prog_Proje.Models.KitapYorum
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Kullanici> SignInManager
@inject UserManager<Kullanici> UserManager
@{
    ViewData["Title"] = "Details";
}

<h1>Kitap Detayları</h1>

<div class="row">
    <hr />
    <div class="col-2">
        <img class="rounded img-fluid" src="@Html.DisplayFor(model => model.kitap.Resim)" alt="">

    </div>
    <div class="col-10">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.kitap.KitapAd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.kitap.KitapAd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.kitap.SayfaSayisi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.kitap.SayfaSayisi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.kitap.BasimYili)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.kitap.BasimYili)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.kitap.Konu)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.kitap.Konu)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.kitap.Resim)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.kitap.Resim)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.kitap.ArkaplanResim)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.kitap.ArkaplanResim)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.kitap.Kategori)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.kitap.Kategori.KategoriAd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.kitap.Dil)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.kitap.Dil.DilId)
            </dd>

        </dl>
    </div>
</div>

@foreach (var item in Model.yorum)
{
    <div>
        <ul class="comment-list">
            <li>
                <div>
                    <p>@item.Ad @item.Soyad: @item.Yorum</p>
                </div>
            </li>

        </ul>
    </div>
}

@if (SignInManager.IsSignedIn(User))
{
    var currentUser = UserManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name);
    <div class="row">
        <div class="col-md-4">
            <form asp-action="YorumYap" asp-controller="Kitap">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input name="Ad" class="form-control" value="@currentUser.Ad" type="hidden" />
                </div>
                <div class="form-group">
                    <input name="Soyad" class="form-control" value="@currentUser.Soyad" type="hidden"/>
                </div>
                <div class="form-group">
                    <input name="Mail" class="form-control" value="@currentUser.Email" type="hidden" />
                </div>
                <div class="form-group">
                    <label class="control-label">Mesaj</label>
                    <input name="Yorum" class="form-control" />
                </div>
                <div class="form-group">
                    <input name="KitapId" class="form-control" value="@Model.kitap.Id" type="hidden" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Yolla" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    var giris_yapan_kullanici = await UserManager.GetUserAsync(User);
    var kullanici_rol = await UserManager.GetRolesAsync(giris_yapan_kullanici);

    if (kullanici_rol.FirstOrDefault().Equals("Admin"))
    {
<div>
    <a asp-action="Edit" asp-route-id="@Model.kitap.Id">Düzenle</a> |
    <a asp-action="Index">Index'e Dön</a> |
    <a asp-action="Index" asp-controller="Yorumlar">Yorumları Düzenle</a>
</div>
    }

}