@model IEnumerable<Web_Prog_Proje.Models.Kitap>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Kitaplar
    </h1>
    @foreach (var item in Model)
    {
        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="#">
                            <img class="img-fluid rounded" src="@item.Resim" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="card-title font-weight-bold">@item.KitapAd</h2>
                        <p class="card-text">@item.Konu</p>
                        <p class="card-text">Sayfa Sayısı: @item.SayfaSayisi</p>
                        <p class="card-text">Dil: @item.Dil.DilId</p>
                        <p class="card-text">Basım Yılı: @item.BasimYili</p>
                        <p class="card-text">Kategori: @item.Kategori.KategoriAd</p>

                        <a href="#" class="btn btn-primary bg-info">İncele &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                Posted on January 1, 2017 by
                <a href="#">Start Bootstrap</a>
            </div>
        </div>
    }
